services:
  localstack:
    image: localstack/localstack
    container_name: localstack
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DATA_DIR=/var/lib/localstack/data
    volumes:
      - ./localstack/data:/var/lib/localstack/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - localStackNetwork

networks:
  localStackNetwork:
    driver: bridge
